<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Editar Alumno</title>
</head>
<body>
    <h2>Registro de Alumno {{alumno.nombre}} {{alumno.apellido}}</h2>
    <form action="/registro/editadoAlumno/{{alumno.id}}" method="post">
        {% csrf_token %}
        <label for="rut">Rut</label>
        <input type="text" name="rut" value= "{{alumno.rut}}" placeholder="rut">
        <label for="nombre">nombre</label>
        <input type="text" name="nombre" value= "{{alumno.nombre}}" placeholder="nombre">
        <label for="apellido">apellido</label>
        <input type="text" name="apellido" value= "{{alumno.apellido}}" placeholder="apellido">
        <input type="submit" value="guardar">
    </form>
</body>
</html>