<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de Profesor</title>
</head>
<body>
    <h1>Registro de Profesor</h1>
    <form action="/registro/crearProfesor" method="post">
        {% csrf_token %}
        <label for="rut">Rut</label>
        <input type="text" name="rut" placeholder="rut">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" placeholder="nombre">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" placeholder="apellido">
        <input type="submit" value="guardar">

</body>
</html>