<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Sistema de Asistencia</h1>
    <h2>BIENVENIDO {{request.user.username}}</h2>
    <h3>Registros de Elementos</h3>

    <a href="/registroPersona/">Registro de Persona</a>
    <a href="/registroProfesor/">Registro de Profesor</a>
    <a href="/registroAlumno/">Registro de Alumno</a>

    <h3>Listados de elementos</h3>

    <a href="/lista/persona">Listado Personas</a>
    <a href="/lista/profesor">Listado Profesores</a>
    <a href="/lista/alumno">Listado Alumnos</a>

    <h3>Logout</h3>
    <a href="/logout">Cerrar sesión</a>
</body>
</html>