<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personas</title>
</head>
<body>
    <h1>Lista de Personas</h1>

    <ul>
        {% for e in elementos %}
        <li>{{e.nombre}} {{e.apellido}} {{e.edad}} <a href ="/registro/buscarPersona/{{e.id}}">Ver</a><a href ="/registro/editarPersona/{{e.id}}">Editar</a><a href ="/registro/eliminarPersona/{{e.id}}">Eliminar</a></li>
        {% endfor %}
    </ul>
</body>
</html>