<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profesores</title>
</head>
<body>
    <h1>Lista de Profesores</h1>

    <ul>
        {% for e in elementos %}
        <li>{{e.rut}} {{e.nombre}} {{e.apellido}} <a href ="/registro/buscarProfesor/{{e.id}}">Ver</a><a href ="/registro/editarProfesor/{{e.id}}">Editar</a><a href ="/registro/eliminarProfesor/{{e.id}}">Eliminar</a></li>
        {% endfor %}
    </ul>
</body>
</html>